@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alice&family=Open+Sans:wght@300;400&family=Source+Code+Pro:wght@300;400&display=swap');
/* Universal */
* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.text-em {
    font-weight: bold;
    color: #373d20;
}

img {
    width: 600px;
}

/* Header */
header {
    font-family: Alice, serif;
    background-color: #e5989b;
    text-align: center;
    line-height: 55px;
    padding-top: 40px;
    padding-bottom: 10px;
}

header h1 {
    font-size: 45px;
}

/* Main */
article {
    padding: 35px;
}

article.intro {
    background-color: #ffb4a2;
}

h2 {
    font-family: Abel, serif;
    font-size: 37px;
    font-weight: 900;
    margin-bottom: 25px;
}

p {
    margin: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 25px;
}

ul, ol {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    list-style-position: inside;
}

a {
    text-decoration: none;
}

a:link {
    color: #4f772d;
}

a:hover {
    color: #90a955;
}

a:active {
    color: #ecf39e;
}

a:visited {
    color: #132a13;
}
article.contact {
    background-color: #ffcdb2;
}

/* Footer */
footer {
    font-family: Tahoma, serif;
    font-weight: 400;
    background-color: #e5989b;
    color: black;
    padding: 10px;
}
